@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf") format("ttf");
  font-weight: var(--font-weight-normal);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Italic.ttf") format("ttf");
  font-weight: var(--font-weight-normal);
  font-style: Italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Bold.ttf") format("ttf");
  font-weight: var(--font-weight-bold);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-BoldItalic.ttf") format("ttf");
  font-weight: var(--font-weight-bold);
  font-style: Italic;
  font-display: swap;
}
