@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf") format("TrueType");
  font-weight: var(--font-weight-normal);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Italic.ttf") format("TrueType");
  font-weight: var(--font-weight-normal);
  font-style: Italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Bold.ttf") format("TrueType");
  font-weight: var(--font-weight-bold);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-BoldItalic.ttf") format("TrueType");
  font-weight: var(--font-weight-bold);
  font-style: Italic;
  font-display: swap;
}

@font-face {
  font-family: "RhodiumLibre";
  src: url("/fonts/RhodiumLibre-Regular.ttf") format("TrueType");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kablammo";
  src: url("/fonts/Kablammo-Regular.ttf") format("TrueType");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
