:root {
  --layout-bg-color: white;
  --menu-button-bg-color: rgb(253 224 71 / 0.6);
  --menu-button-bg-color-hover: rgb(253 224 71 / 1);
  --hero-moto-bg-color: rgb(254 240 138 / 0.7);
  --hero-creator-bg-color: rgb(254 240 138 / 0.4);
  --headline-bg-color: rgb(253 224 71 /1);
  --font-weight-normal: normal;
  --font-weight-bold: bold;
  --font-size-mini: 0.75rem;
  --font-size-1: 1rem;
  --font-size-2: 1.25rem;
  --font-size-3: 1.5rem;
  --font-size-4: 1.75rem;
  --font-size-5: 2rem;
  --font-size-6: 4rem;
}
